<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<table>
    <tr>
        <td style="width: 100px">Name:</td>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td th:text="${product.price}"></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td th:text="${product.description}"></td>
    </tr>
    <tr>
        <td colspan="2">
         <a th:href="@{/add/__${product.id}__}">Add To Cart</a>
        </td>
    </tr>
</table>
</body>
</html>